/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
  padding: 0;
  margin: 0;
}

.main_div{
  background-color:rgb(241, 203, 238) ;
  height: 100%;
  width: 100vw;
  display: inline-block;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Montserrat', 'san-serif';
  font-size: 21px;
  font-weight: 600;
}


.center_div{
  background-color: white;
  color: black;
  margin: 3% 30% 0% 30%;
  padding-bottom: 23%;
  box-shadow: 7px 10px 20px rgb(168, 4, 155);
}
ul{
   list-style-type: none;
   text-align: left;
   padding-left: 20px;

}
li{
  padding-bottom: 20px;
  font-family:'Roboto Slab', serif; 
  color: rgb(150, 13, 138);
}
h1{
  background-color: rgb(199, 5, 183);
  color: white;
  padding: 5px;
}
.entertext{
  padding: 10px 50px;
  margin: 20px;
  border: 2px solid rgb(199, 5, 183);
}

button{
  margin: 10px;
  padding: 13px 13px;
  border-radius: 20%;
  border: none;
  background-color:rgb(199, 5, 183);
  transition: all 0.3s ease;
}
button:hover{
  margin: 10px;
  padding: 13px 13px;
  border-radius: 20%;
  border: 1px solid rgb(199, 5, 183);
  background-color:white;
  box-shadow: 4px 6px 3px rgb(199, 5, 183);

}
.todo_style .fa-times-circle{
  color: rgb(168, 4, 155);
  padding:15px;
}
input[type=checkbox] {
  transform: scale(2);
  cursor: pointer;
  background-color: rgb(168, 4, 155);
}
/* .checkbox::before{
  background-color:green;
  } */

.checkbox{
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}
hr{
  border-style: solid;
  width: 94%;
  border-width: 0.5px;
  color:rgb(168, 4, 155);
}

